# Created by .ignore support plugin (hsz.mobi)
/vendor
/data
log
.DS_Store
.gitignore
.idea/
api/config/main-local.php
api/config/params-local.php
api/config/test-local.php
api/web/index-test.php
api/web/index.php
api/web/robots.txt

docapi/config/main-local.php
docapi/config/params-local.php
docapi/config/test-local.php
docapi/web/index-test.php
docapi/web/index.php
docapi/web/robots.txt

interfaces/config/main-local.php
interfaces/config/params-local.php
interfaces/config/test-local.php
interfaces/web/index-test.php
interfaces/web/index.php
interfaces/web/robots.txt
backend/config/main-local.php
backend/config/params-local.php
backend/config/test-local.php
backend/web/index-test.php
backend/web/index.php
backend/web/robots.txt
common/config/main-local.php
common/config/params-local.php
common/config/test-local.php
console/config/main-local.php
console/config/params-local.php
databackend/config/main-local.php
databackend/config/params-local.php
databackend/config/test-local.php
databackend/web/index-test.php
databackend/web/index.php
databackend/web/robots.txt
frontend/config/main-local.php
frontend/config/params-local.php
frontend/config/test-local.php
frontend/web/index-test.php
frontend/web/index.php
frontend/web/robots.txt
hospital/web/index-test.php
hospital/web/index.php
hospital/web/robots.txt
hospital/config/main-local.php
hospital/config/params-local.php
wechat/config/main-local.php
wechat/config/params-local.php
wechat/config/test-local.php
wechat/web/index-test.php
wechat/web/index.php
wechat/web/robots.txt
weixin/config/main-local.php
weixin/config/params-local.php
weixin/config/test-local.php
weixin/web/index-test.php
weixin/web/index.php
weixin/web/robots.txt
yii
yii_test
yii_test.bat
composer.lock
composer.json
test.php