.header{height:60px; background-color:#B0262D;width: 100%; }
.header .main{width:1110px;margin: 0 auto; display: flex;justify-content: space-between;align-items: center;}
.header .main .navigation{height:60px;color: #F8C1C1;font-size: 16px;display: flex; justify-content:space-between;align-items:center;width: 506px;}
.header .main .navigation .on{color: #FFFC00;}
.header .main .navigation .li{}

.banner{height: 530px; background-color: #C42A32;}
.banner .main{display: flex;justify-content: space-between; width: 1110px;margin: 0 auto;align-items:center;}
.banner .main .text .title{margin-bottom:27px;font-size:48px;font-weight:400;color:rgba(255,255,255,1);}
.banner .main .text .info {margin-bottom:55px;font-size:26px;font-weight:400;color:rgba(255,255,255,1);line-height:40px;width: 571px;}
.banner .main .text .list {display: flex;width: 334px; justify-content: space-between;font-size:16px;font-weight:400;color:rgba(255,195,193,1);}
.banner .main .image{display: flex;flex-direction: column;justify-content: flex-end; height: 530px;}
.content{width: 1110px;margin: 0 auto; margin-top: 30px;}
.content .list{display: flex;justify-content: space-between;}
.content .list .item{ width: 260px; height:325px;display: flex;flex-direction: column;align-items: center;border: 1px solid #EEEEEE;}
.content .list .item .img{margin-top: 60px;margin-bottom: 54px;}
.content .list .item .title{color: #333333;text-align: center;line-height: 45px;font-size:20px;font-weight:400;color:rgba(51,51,51,1);}
.content .list .item .info{color: #555555;width: 84px;text-align: center; line-height: 30px;font-size:14px;font-weight:400;color:rgba(85,85,85,1);}


.content .bottom{width: 1110px; display: flex;justify-content: space-between;padding: 115px 173px 107px 139px;}
.content .bottom .left{margin-right: 60px;}
.content .bottom .text .title{font-size:48px;font-weight:400;color:rgba(51,51,51,1);line-height:90px;}
.content .bottom .text .info{width:341px;font-size:24px;font-weight:400;color:rgba(85,85,85,1);line-height:36px;}

.content .bottom .navigation{display: flex;justify-content: space-between;}
.content .bottom .navigation .title .text{font-size:36px;font-weight:400;color:rgba(51,51,51,1);line-height:60px;}
.content .bottom .navigation .title .en{font-size:18px;font-weight:400;color:rgba(153,153,153,1);line-height:30px}
.content .bottom .navigation .map{display: flex;flex-direction: column;justify-content: center; align-items: center;}
.content .bottom .navigation .map .text{font-size:14px;font-weight:400;color:rgba(153,153,153,1);line-height:30px;}
.content .bottom .county{margin-top:32px;height:60px;background:rgba(238,238,238,1);display: flex;justify-content:left;align-items: flex-end;padding: 0 10px;}
.content .bottom .county .item{color:#666666;width: 115px;height: 56px;text-align: center;line-height: 56px;}
.content .bottom .county .on{width: 115px;height: 56px;background-color: #ffffff;text-align: center;line-height: 56px;color: #333333}

.content .bottom .hospitals{display: flex;justify-content: space-between;flex-wrap:wrap; margin-top: 47px;align-items: flex-start;align-content: flex-start;}
.content .bottom .hospitals .item{width: 260px; height:315px;border:1px solid rgba(238,238,238,1); margin-bottom: 28px;display: flex;flex-direction: column;align-items: center;padding-top: 74px;}
.content .bottom .hospitals .item .title{margin-top:15px;font-size:20px;font-weight:400;color:rgba(51,51,51,1);line-height:36px;}
.content .bottom .hospitals .item .name{margin-top: 5px;font-size:16px;font-weight:400;color:rgba(102,102,102,1);line-height:36px;}
.content .bottom .hospitals:after{
    content: '';
    width: 545px;
}
.footer{height: 452px;}
.footer .main{width: 1110px;margin: 0 auto;display: flex;justify-content: space-between;}
.footer .main .list{display: flex;justify-content: space-between; width: 310px; margin-top: 69px;}
.footer .main .list .item{line-height: 54px;font-size:14px;font-weight:500;color:rgba(153,153,153,1);}
.footer .main .list .title{font-size:18px;font-weight:500;color:rgba(51,51,51,1);}
.footer .main .qcode{width:428px;display: flex; justify-content: space-between;margin-top: 55px;}
.footer .main .qcode .img{background-color: #ffffff;width: 200px;height: 235px; text-align: center;padding-top: 31px;display: flex;flex-direction: column; justify-content:space-between; align-items: center;}
.footer .main .qcode .img .title{margin-bottom: 20px;font-size:16px;font-weight:500;color:rgba(85,85,85,1);}

.footer .ftCon{ text-align: center;font-size:14px;font-weight:500;color:rgba(153,153,153,1); margin-top: 81px;}